body {
  margin: 0;
  padding: 5px;
}

#map {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px); /* Adjusted height */
}

.marker {
  display: block;
  border: none;
  border-radius: 0%;
  cursor: pointer;
  padding: 0;
  border: 10px solid black;
  box-shadow: 0 0 0 10px orange;
}
